<!DOCTYPE html>
<html ng-app >
  <head>
    <title>Time zones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="tz-style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="script.js"></script>
      
  </head>
  <body>
   
    <table ng-controller="TimeZoneController" class="zones" width="100%">
      <tbody>
        <tr class="chooser">
          <td ng-repeat="timeZone in timeZones"> 
            <div class="offset-label" >{{timeZone["utc-offset"]}}</div> 
            <input type="checkbox" ng-model='timeZone["active"]' />
          </td>
        </tr>
        
        <tr class="slider">
          <td ng-repeat="timeZone in timeZones" class='{{timeZone["active"]}}' > 
            <div class="wrap"> 
               
            </div> 
          </td>
        </tr>

      </tbody>
    </table>
    
  </body>
</html>
