<!DOCTYPE html>
<html ng-app="InTheZone" >
  <head>
    <title>Time zones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/vRangeSlider.theme.css" />

  </head>
  <body ng-controller="MainCtrl">
    
    <div class="columns">
      <div class="column" ng-repeat="timeZone in timeZones" style="width:{{100 / timeZones.length}}% ">
        <div class="chooser">
          <div class="offset-label" >{{timeZone.utcOffset}}</div> 
          <input class="chooser-check" type="checkbox" ng-model='timeZone.active' />
        </div>

        <div class="slider-container" ng-class='timeZone.active|toggleClass:"active"'>
          <div class="time-slides-tooltips top" ng-show="timeZone.active">
            {{(range.topValue + timeZone.utcOffset * 2) | value48ToTime : timeZone.timeFormat}}
          </div>
          <div class="time-slides-tooltips bottom" ng-show="timeZone.active">
            {{(range.bottomValue + timeZone.utcOffset * 2) | value48ToTime : timeZone.timeFormat}}
          </div>
          <v-range-slider 
            ng-if="timeZone.active"
            min='0'
            max='48'
            top-value='$parent.range.topValue' 
            bottom-value='$parent.range.bottomValue' 
            class='tz-slider' >

          </v-range-slider>
        </div>
      </div>
    </div>
    

    <!--
    <div style="height : 600px; width: 50px">
      <v-range-slider
        min="0"
        max="48"
        top-value="topVal" 
        bottom-value='bottomVal' >

      </v-range-slider>
    </div>
    
    <span ng-bind="topVal"></span>
    <input ng-model="topVal">
    <span ng-bind="bottomVal"></span>
    <input ng-model="bottomVal">
    -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/vRangeSlider.js"></script>
    <script src="scripts/directives/ngIf.js"></script>
    <script src="scripts/filters/toggleClass.js"></script>
    <script src="scripts/filters/value48ToTime.js"></script>

  </body>
</html>
