html {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;
}

body {
	position: absolute;
	height: 100%;
	width: 96%;	
	top: 0;
	left: 0;
	margin: 0 2%;
}

.columns {
	width: 100%;
	height: 100%;
	position: absolute;
}

.column {
	height: 100%;
	float: left;
}

.chooser {
	height: 10%;
	font-family : "PT Sans Narrow", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #4a757d;
	text-align: center;
}

.chooser-check {
	display: inline-block;
}

.slider-container {
	background: url(/images/crossBG2.png) left top repeat transparent;
	height: 80%;
	border-left: 1px dotted #4a757d;
	position: relative;
}

.column:last-child .slider-container {
	border-right: 1px dotted #4a757d;
}

.slider-container.active {
	background-color: #dcf3f3;
	background-image: none;
}

.offset-label {
	text-align: center;
}

.range-indicator {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #31c8e3;
	border-top: 1px solid #4a757d;
	border-bottom: 1px solid #4a757d;
	padding: 0;
	margin: 0;
	opacity: 0.3;
	z-index: 1;
}

.time-slides-tooltips {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 10;
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 100%;
	color: #4a757d;
}

.all-range-wrapper {
	width: 100%;
	height: 80%;
	margin-top: 10%;
	position: absolute;
}

.all-range {
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #31c8e3;
	border-top: 1px solid #4a757d;
	border-bottom: 1px solid #4a757d;
	padding: 0;
	margin: 0;
	opacity: 0.3;
	z-index: 1;
}
